<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta http-equiv="refresh" content="2">
    <title>SYSTEM-MONITER</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    
    <canvas id="chart" width="600" height="300"></canvas>
    <script>
        
       // <block:setup:1>
        chartIt();
        async function chartIt(){
        const data = await getData();  
        const ctx = document.getElementById('chart');
        
            new Chart(ctx, {
            type: 'line',
            data: {
            labels: data.xs,
            datasets: [{
                label: 'CPU Usage(in %)',
                data: data.ys,
                fill:false,
                borderWidth: 1
        }]
    },  
});
        }
          

        
        async function getData() {
            const xs =[];
            const ys =[];

            const response = await fetch("data.txt");
            const data = await response.text();
            console.log(data);

            const table = data.split('\n').slice(1);
            table.forEach(row=>{
                const columns = row.split('\t')
                const time = columns[0];
                xs.push(time);
                const cpu = columns[1];
                ys.push(cpu);
                console.log(time,cpu);
            });
            return {xs,ys};
        }
    </script>
</body>

</html>
