<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SYSTEM-MONITER</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    
    <canvas id="chart" width="600" height="300"></canvas>
    <script>
        const xlabels = [];
        const y1labels = [];
        const y2labels = [];
        const y3labels = [];
        
       // <block:setup:1>
        chartIt();
        async function chartIt(){
        const data = await getData();  
        const ctx = document.getElementById('chart');
        
            new Chart(ctx, {
            type: 'line',
            data: {
            labels: data.xs,
            datasets: [{
                label: 'CPU USAGE',
                data: data.ys,
                fill:false,
                borderWidth: 1
        }]
    },
    // options: {
    //   scales: {
    //     y2labels: {
    //       beginAtZero: true,
    //       ticks:{
    //         callback:function(value,index,values){
    //             return value + "mb";
    //         }

    //       }
    //     }
    //   }
    // }
    
  
});
        }
          

        
        async function getData() {
            const xs =[];
            const ys =[];

            const response = await fetch("../public/data.txt");
            const data = await response.text();
            console.log(data);

            const table = data.split('\n').slice(1);
            table.forEach(row=>{
                const columns = row.split('\t')
                //console.log(row);
                const time = columns[0];
                xlabels.push(time);
                xs.push(time);
                const cpu = columns[1];
                y1labels.push(cpu);
                ys.push(cpu);
                const mem = columns[2];
                y2labels.push(mem);
                //ys.push(mem);
                const temp = columns [3];
                y3labels.push(temp);
                //ys.push(temp);
                console.log(time,cpu,mem,temp);
            });
            //console.log(row);
            return {xs,ys};

        }
    </script>
<!--	
	<script>

	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>

</script>
-->
</body>

</html>
